name: Swift Lint
on:
  pull_request:
    branches:
    - "*"
jobs:
  lint:
    name: Swift Lint
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Lint
      run: swiftlint lint --reporter github-actions-logging
